{
  "extends": ["react-app", "google"],
  "plugins": ["fp"],
  "rules": {
    "max-lines": ["warn", 300],
    "max-lines-per-function": ["warn", 50],
    "complexity": ["warn", 6],
    "max-nested-callbacks": ["warn", 2],
    "max-depth": ["warn", 4],
    "fp/no-mutation": "warn",
    "no-param-reassign": "error",
    "fp/no-mutating-assign": "error",
    "fp/no-mutating-methods": "error",
    "fp/no-delete": "error",
    "fp/no-loops": "warn",
    "max-params": ["error", 3],
    "fp/no-throw": "warn",
    "import/first": "error",
    "quotes": ["error", "single", "avoid-escape"],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "camelcase": [0, {"properties": "never"}],
    "max-len": ["error", 120],
    "linebreak-style": ["error", "unix"]
  }
}
